.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  padding: 5px;
}
body.active {
  background-color: cornflowerblue;
}

.container div {
  background-color: black;
  padding: 10px;
  border: solid 1px ;
  color: white;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.menu {
  grid-area: menu;
}
.container div.content {
  grid-area: content;
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}

body{
    background-color: cadetblue;
}
a{
  color: white;
}

#panel{
    display: none;
}

.message{
    margin-top:20px;
    font-weight:bold;
}

img{
    max-width:100%;
    margin-top:20px;
    border-radius:8px;
    border:1px solid #ccc;
}
